[user]
	email = epononanvialex@gmail.com
	name = Anvi Alex
[init]
	defaultBranch = main
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
